# Database configuration
DATABASE_URL="postgres://<username>:<password>@<host>:<port>/<database>"

# JWT configuration
REF_JWT_SECRET="supersecretrefreshkey"
REF_JWT_EXPIRES_IN="7d" # 7 days
AC_JWT_ACCESS_SECRET="supersecretaccesskey"
AC_JWT_ACCESS_EXPIRES_IN="15m" # 15 minutes

# Node environment
NODE_ENV=development

# Cookie configuration
COOKIE_SECRET="supersecretcookiesecret"
SESSION_COOKIE_NAME="session_id"
COOKIE_SECURE=false
COOKIE_DOMAIN="localhost"
COOKIE_SAME_SITE="lax"
COOKIE_HTTP_ONLY=true

# Email configuration
RESEND_MAIL_KEY="your-resend-mail-api-key"
RESEND_MAIL_FROM="noreply@example.com"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="your-smtp-username"
SMTP_PASS="your-smtp-password"
SMTP_SECURE=false
SMTP_TLS=true